{% set render_partial = false %}
{% if app.request.xmlHttpRequest or app.request.get('partial') %}
    {% set render_partial = true %}
{% endif %}
{% extends render_partial ? 'base-partial.html.twig' : 'base-app.html.twig' %}

{% block title %}
    {%- if title is defined and title -%}
        {{- parent() ~ ' — ' ~ title -}}
    {% else %}
        {{- parent() -}}
    {% endif %}
{% endblock %}

{% block bodycontent %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% include '@CRUD/components/alert.html.twig' with {'mode': label, 'message': message} %}
        {% endfor %}
    {% endfor %}

    {% block heading %}
        <h1 ref="modalTitle">{% block heading_title %}{{ title|default('') }}{% endblock %}</h1>
    {% endblock %}

    {% block content %}{% endblock %}
{% endblock %}
